<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/style.css">

   <!--
       <script defer src="/js/all.js"></script>
   --> 
   
    <title>Metsys</title>
  </head>
  <body>
    <div id="container-acompanhamento">
        <div class="content-acompanhmento" align="center">
            <form class="form">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="nome_empresa">Nome da Empresa</label>
                    <input type="text" class="form-control" id="nome_empresa" placeholder="Nome">
                  </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="cnpj">CNPJ</label>
                        <input type="number" class="form-control" id="cpf" placeholder="CPF">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="telefone">Telefone</label>
                        <input type="text" class="form-control" id="telefone" placeholder="Telefone">
                      </div>                      
                </div>                
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="cep">CEP</label>
                        <input type="number" class="form-control" id="cep" placeholder="CEP">
                    </div>
                    <div class="form-group col-md-7">
                        <label for="endereco">Endereço</label>
                        <input type="text" class="form-control" id="endereco" placeholder="Endereço">
                    </div>
                    <div class="form-group col-md-1">
                        <label for="numero">Nº</label>
                        <input type="number" class="form-control" id="numero" placeholder="Nº">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="complemento">Complemento</label>
                        <input type="text" class="form-control" id="complemento" placeholder="Complemento">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="bairro">Bairro</label>
                        <input type="text" class="form-control" id="bairro" placeholder="Bairro">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="cidade">Cidade</label>
                        <input type="text" class="form-control" id="cidade" placeholder="Cidade">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="uf">UF</label>
                        <select id="uf" class="form-control">
                            <option></option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="responsavel">Responsável pela Empresa</label>
                        <input type="text" class="form-control" id="responsavel" placeholder="Responsável pela Empresa">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="data-coleta-exame">E-mail</label>
                        <input type="email" class="form-control" id="data-coleta-exame" placeholder="E-mail">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" id="btn-cadastro">Finalizar</button>
                <button type="submit" class="btn btn-primary" id="btn-editar">Editar</button>
                <button type="submit" class="btn btn-primary" id="btn-excluir">Excluir</button>
                <button type="submit" class="btn btn-primary" id="btn-limpar">Limpar</button>
              </form>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>

  </body>
</html>