<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/style.css">

   <!--
       <script defer src="/js/all.js"></script>
   --> 
   
    <title>Metsys</title>
  </head>
  <body>
    <div id="container-acompanhamento">
        <div class="content-acompanhmento" align="center">
            <form class="form">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" placeholder="Nome">
                  </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="cargo">Cargo</label>
                        <input type="text" class="form-control" id="cargo" placeholder="Cargo">
                      </div>  
                </div>       
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="usuario">Usuário</label>
                        <input type="text" name="usuario" class="form-control" placeholder="Usuário">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="senha">Senha</label>
                        <input type="password" name="senha" class="form-control" placeholder="Senha">
                    </div>  
                </div>
                <div class="form-row col-md-12">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="municipal" name="municipal" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline1">Perfil Municipal</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="monitoramento" name="monitoramento" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline2">Perfil Monitoramento</label>
                    </div>
                </div>           
                <button type="submit" class="btn btn-primary" id="btn-cadastro">Finalizar</button>
                <button type="submit" class="btn btn-primary" id="btn-editar">Editar</button>
                <button type="submit" class="btn btn-primary" id="btn-excluir">Excluir</button>
                <button type="submit" class="btn btn-primary" id="btn-limpar">Limpar</button>               
              </form>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
    
  </body>
</html>