<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/style.css">

   <!--
       <script defer src="/js/all.js"></script>
   --> 
   
    <title>Metsys</title>
  </head>
  <body>
    <div id="container-login">
        <div class="content" align="center">
            <form method="POST" class="col-sm-4">
                <div class="input-container">
                    <i class="fa fa-user icon"></i>
                    <input type="text" name="usuario" class="form-control" placeholder="Usuário"><br>
                </div>
                <div class="input-container">
                    <i class="fa fa-key icon"></i>
                    <input type="password" name="senha" class="form-control" placeholder="Senha"><br>
                </div>
                
                <input type="submit" name="btn-Entrar" class="btn btn-outline-primary btn-lg btn-block">
            </form>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
  </body>
</html>